[mysqld]
server-id = 2
binlog_format = mixed
log-bin = /var/log/mysql/mysql-bin
relay-log = /var/log/mysql/mysql-relay.log
relay-log-index = /var/log/mysql/mysql-relay-bin.index
log-slave-updates = 1
read-only = 1
slave-skip-errors = all
replicate_do_db = powerdns
#log-error = /opt/slave-error.log
log_error = /var/log/mysql/error.log
skip-slave-start = On
skip-external-locking
expire_logs_days  = 10
max_binlog_size = 100M

character_set_server = utf8
collation_server = utf8_general_ci

[mysql]
default_character_set = utf8
