[mysqld]
character_set_server = utf8
collation_server = utf8_general_ci
server-id = 2
relay-log = /var/lib/mysql/mysql-relay-bin
relay-log-index = /var/lib/mysql/mysql-relay-bin.index

[mysql]
default_character_set = utf8
