[mysqld]
character_set_server = utf8
collation_server = utf8_general_ci
server-id = 2
relay-log = /var/lib/mysql/mysql-relay-bin
relay-log-index = /var/lib/mysql/mysql-relay-bin.index
relay-log-recovery=1
log_bin = /var/log/mysql/mysql-bin.log
log-slave-updates
binlog_do_db = powerdns
innodb-buffer-pool-size = 2G
#master-info-repository=TABLE
#relay-log-info-repository=TABLE
replicate_do_db = powerdns
slave-skip-errors = all

[mysql]
default_character_set = utf8
