[mysqld]
server-id = 1
binlog_format = mixed
log-bin = /var/log/mysql/mysql-bin
binlog-do-db = powerdns
replicate-do-db = powerdns
# log-error = /opt/master-error.log

character_set_server = utf8
collation_server = utf8_general_ci

[mysql]
default_character_set = utf8
