[mysqld]
character_set_server = utf8
collation_server = utf8_general_ci
log_bin = /var/log/mysql/mysql-bin.log
binlog_do_db = powerdns
replicate-do-db = powerdns
server-id = 1
innodb-buffer-pool-size = 2G

[mysql]
default_character_set = utf8
